{% block head %}

    <title> Страница не найдена, код ошибки - 404</title>
    <link rel="stylesheet" href="/static/css/style_error.css">

{% endblock %}
{% block content%}
 
<div class="text">
    <div>ERROR</div>
    <h1>{{error[2].error}}</h1>
    <hr>
    <div>{{error[2].desc}}</div>
  </div>
  
  <div class="astronaut">
    <img src="/static/img/cosmonavt.png" alt="" class="src">
  </div>

  <div class=" cursor_container">
    <div class="cursor" id="cursor"></div>
    <div class="cursor2" id="cursor2"></div>
    <div class="cursor3" id="cursor3"></div>
  </div>

  
<script src="/static/js/plugin_cursor.js"></script>
<script  src="/static/js/script_error.js"></script>
{% endblock %}

