
h1 {
    font-size: 2em;
    margin: 0.67em 0;
    position: absolute;
    top: 100px;
    right: 38%;
}
.block {
  display: flex;
  position: absolute;
  height: 79vh;
  width: 50%;
  padding: 77px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 50vh;

}  

.chart {
  position: relative;
  display: inline-block;
  margin: 20px 10px;
  color: #999;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  
  canvas {
    position: absolute;
    top: 0; left: 0;
  }
}