
{% extends 'app.html' %}
{% block head %}

<link rel="stylesheet" href="/static/css/style_about.css">

{% endblock %}   
{% block content%}

<main>
  <section class="mast">
    <figure class="mast__bg"></figure>
    <header class="mast__header">
      <h1 class="mast__title js-spanize">Информация о проекте</h1> 
      <hr class="sep"/>
      <p class="mast__text js-spanize">
        Данный проект я делаю уже на протяжении нескольких месяцев начиная с начала курса python-pro и стараюсь максимально не использовать готовые темплейты, 
        но как по итогу я спер немногое с интернета и гармонично связал их с проектом, но к большому сожалению в мире фронта порой проще спереть и под себя переделать
        нежели изобретать похожий велосипед), это сугубо мое мнение, но однако именно из за оригинальности своих страниц я и решил добавить в свой проект технологию scss и многофункциональный js,
        так же в будующем под конец проекта я нацелен добавить в его функционал переходы страниц с помощью RxJs который ускорит запуск страниц, но это будет реализованно если будет время))
        А пока я нацелен на современный дизайн в стиле киберпанк) .
      </p>

    </header>
  </section>
</main>
<script  src="/static/js/script_about.js"></script>
  {% endblock %} 