{% extends 'app.html' %}
{% block head %}

<link rel="stylesheet" href="/static/css/style_authors.css">

{% endblock %}   
{% block content%}
<section id="testim" class="testim">
    <div class="wrap">
        <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
        <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
        <ul id="testim-dots" class="dots">
                <li class="dot active"></li>
                <li class="dot"></li>
                <li class="dot"></li>
        </ul>
        <div id="testim-content" class="cont">
            
            <div class="active">
                <div class="img"><img src="/static/img/аватар.svg" alt=""></div>
                <h2>Червоный Егор</h2>
                <p>Frontend разработчик сделавший из белого листа конфетку в дизайне киберпанка) и вышедший на новый уровень в создании сайтов со стороны фронта и фуллстака) (я накосячил в данном слайдере))</p>                    
            </div>

            <div>
                <div class="img"><img src="/static/img/Mask group.svg" alt=""></div>
                <h2>Артем Шишки</h2>
                <p>Учитель / наставник / гуру в backend разработке, который помог мне понять, что такое fullstack и backend и помог организовать этот проект)</p>                    
            </div>
            <div>
                <div class="img"><img src="/static/img/1693894.png" alt=""></div>
                <h2>iO & aE</h2>
                <p>Два офигенных названия моих проектов, которым я предал особый смысл воспользовавшись немного нейросетью Midjourney которая сделал 0.3% от всего сайта но все же)</p>                    
            </div>
          
            

        </div>

    </div>
</section>

    
<script src="https://use.fontawesome.com/1744f3f671.js"></script>
    
<script  src="/static/js/script_authors.js"></script>

<
{% endblock %}   >