{% extends 'app.html' %}
{% block head %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/static/css/style_progress.css">

{% endblock %}
{% block content%}
<h1>Мои навыки и технологии</h1>
<div class="block">
  <div class="chart" data-percent="110">HTML</div>
  <div class="chart" data-percent="70">ReactJs</div>
  <div class="chart" data-percent="94">JavaScript</div>
  <div class="chart" data-percent="50">jQuery</div>
  <div class="chart" data-percent="77">Scss</div>
  <div class="chart" data-percent="110">Css</div>
  <div class="chart" data-percent="10">NodeJs</div>
  <div class="chart" data-percent="90">Python</div>
  <div class="chart" data-percent="10">Golang</div>
  <div class="chart" data-percent="10">Redux</div>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='/static/js/plugin_progress.js'></script><script  src="/static/js/script_progress.js"></script>

{% endblock %}
 